body, html {
  padding: 0;
  margin: 0;
  background: grey;
  font-family: Lucida Console, Monaco5, monospace;
}

/* MENU BTN */
/* MENU BTN */
/* MENU BTN */

.menu-btn {
  position: absolute;
  width: 3em;
  height: 3em;
  left: 1em;
  top: 0;
  background: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: 1000;
}

.menu-icon {
  position: relative;
  width: 2em;
  height: 0.5em;
  background-color: #4385F5;
  border-radius: 3px;
  margin: 0.5em auto;
  box-shadow: 0 0.75em #4385F5, 0 1.5em #4385F5;
}

/* MENU */
/* MENU */
/* MENU */

.menu {
  display: none;
  width: 100%;
  height: 100%;
  background: black;
  z-index: 900;
  position: absolute;
}

.setting-btn {
  font-size: 3em;
  position: absolute;
  height: 50%;
  width: 100%;
  text-align: center;
  color: white;
  display: table;
}

.setting-btn > p {
  display: table-cell;
  vertical-align: middle;
}

.menu .active {
  background: #4385F5;
  color: white;
}

.reset-btn {
  top: 0;
}

.strict-btn {
  bottom: 0;
}

/* GAME */
/* GAME */
/* GAME */

.color-btn {
  position: absolute;
  z-index: 0;
}

.green-btn {
  top: 0;
  right: 50%;
  bottom: 50%;
  left: 0;
  background: #109D59;
}

.green-btn.active {
  background: #7BD0A9;
}

.red-btn {
  top: 0;
  right: 0;
  bottom: 50%;
  left: 50%;
  background: #DC4437;
}

.red-btn.active {
  background: #ED9C98;
}

.yellow-btn {
  top: 50%;
  right: 50%;
  bottom: 0;
  left: 0;
  background: #F5B400;
}

.yellow-btn.active {
  background: #FFE164;
}

.blue-btn {
  top: 50%;
  right: 0;
  bottom: 0;
  left: 50%;
  background: #4385F5;
}

.blue-btn.active {
  background: #A0C2FF;
}

/* SCOREBOARD */
/* SCOREBOARD */
/* SCOREBOARD */

.score-board {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -4em;
  margin-left: -4em;
  height: 8em;
  width: 8em;
  border-radius: 50%;
  background: white;
  text-align: center;
}

.score {
  /*border: 1px solid blue;*/
  position: relative;
  width: 100%;
  top: 50%;
  left: 50%;
  margin-top: -0.6em;
  margin-left: -0.8em;
  font-weight: bold;
  font-size: 5em;
  color: grey;
}

/* PLAY BTN */
/* PLAY BTN */
/* PLAY BTN */

.winner, .loser, .play-btn {
  z-index: 800;
  position: absolute;
  background: white;
}

.play-btn {
  width: 3em;
  height: 3em;
  right: 1em;
  bottom: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

/* Banners */
/* Banners */
/* Banners */

.winner, .loser {
  top: 1em;
  right: -15em;
  padding: 1em 1.5em;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.winner.active, .loser.active {
  animation: 6s alternate message;
}

.play-icon {
  position: relative;
  width: 0;
  height: 0;
  border-top: 1em solid transparent;
  border-bottom: 1em solid transparent;
  border-left: 1.5em solid #109D59;
  margin: 0.5em 0.9em;
}

.pause-icon {
  position: relative;
  height: 2em;
  width: 0.5em;
  background: #DC4437;
  border-radius: 3px;
  box-shadow: 0.8em 0 #DC4437;
  margin: 0.5em 0.9em;
}

/* Animations */
/* Animations */
/* Animations */

@keyframes message {
  0% { right: -15em; }
  20% { right: 0; }
  80% { right: 0; }
  100% { right: -15em; }
}
